body {
  width: 60%;
  font-family: Georgia, serif;
  margin: 20px auto;
}

a {
  color: #ce242a;
  -webkit-transition: color 0.3s ease-out;
     -moz-transition: color 0.3s ease-out;
      -ms-transition: color 0.3s ease-out;
       -o-transition: color 0.3s ease-out;
          transition: color 0.3s ease-out;
}

a:visited {
  color: #9f2826;
}

a:hover {
  color: #570100;
}

h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
}

hr {
  color: #ccc;
  margin: 50px 0;
  border-bottom: 1px solid #CCC;
  border-top: 0;
}

p {
  line-height: 1.4em;
}

#titlepage {
  border-bottom: 1px solid #CCC;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

h1.title {
  font-size: 210%;
}

h1.maintitle {
  float: left;
}

h1.maintitle a {
  color: #000;
}

h2, h3{
  margin: 30px 0 19px 0;
}

.social {
  float: right;
  margin-top: 15px;
}

.social li{
  float: left;
  list-style: none;
}

dt {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
}

#TOC li {
  color: #ce242a;
  padding: 2px 0;
}

.translators .translator {
  margin: 0 0 15px;
}

.translators .corrections {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.clear {
  clear:both;
}

.translators, blockquote {
  background-color:#FE6;
  padding: 15px;
}

pre {
  background:none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #DDD;
  color:#000;
  font-size: 12px;
  overflow:auto;
  width: 100%;
  margin: 20px 0;
  padding: 10px 0;
}

pre code {
  font: 13px Monaco,"Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  padding: 0 0 0 25px;
}



/* Syntax Highlight styles */

/* Loosely based on pygment's tango colors */
table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #f8f8f8 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #f0f0f0; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #f8f8f8; }
pre.sourceCode { background-color: #f8f8f8; line-height: 125% }
td.nums pre { background-color: #f0f0f0; line-height: 125% }
code.sourceCode span.kw { color: #204a87; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #204a87 } /* Keyword.Type */
code.sourceCode span.dv { color: #0000cf } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #0000cf } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #0000cf } /* Literal.Number.Float */
code.sourceCode span.ch { color: #4e9a06 } /* Literal.String.Char */
code.sourceCode span.st { color: #4e9a06 } /* Literal.String */
code.sourceCode span.co { color: #8f5902; font-style: italic } /* Comment */
code.sourceCode span.ot { color: #8f5902 } /* Comment.Preproc */
code.sourceCode span.al { color: #ef2929 } /* Generic.Error */
code.sourceCode span.fu { color: #000000 } /* Name.Function */
code.sourceCode span.re {
code.sourceCode span.er { color: #a40000; } /* Error */